* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.page_container {
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_fields {
    display: inline-flex;
}
.input_fields p {
    margin-left: 5px;
}
.input_field {
    margin-left: 5px;
}
.input_submit {
    margin-top: 20px;
    width: 45px;
    height: 20px;
}
.table_container {
    margin-top: 20px;
    width: 100%;
    min-height: 200px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table td {
    width: 20px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
}